<h1>Topic: <%= @topic.title %></h1>
<% @posts.each do |post| %>
  <%= post.body %>
<% end %>
<%= link_to('new post', new_forum_topic_post_path(@forum.permalink, @topic.permalink)) %>
<%= paginate @posts %>
