<h1> Forum: <%= @forum.title %> </h1>
<p>description: <%= @forum.description %></p>


<% @forum.topics.each do |topic| %>
  <%= link_to(topic.title, forum_topic_path(@forum.permalink, topic.permalink)) %>
<% end %>

<%= link_to('new topic', new_forum_topic_path(@forum.permalink)) %>
